<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />

<script type="text/javascript">
  if (window.top !== window.self) {
     window.top.location = window.self.location;
  }
</script>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Dell Technologies Virtual Reality | Dell Technologies United States</title>


	<meta name="description" content="Dell Technologies Virtual Reality"/>

    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Mobile IE activates ClearType technology for smoothing fonts -->
    <meta http-equiv="cleartype" content="on"/>


    <meta property="og:title" content="Dell Technologies Virtual Reality"/>
    <meta property="og:description" content="Introducing Dell Technologies providing you with the most creative, trusted, and innovative partner for your digital transformation to better serve your customers."/>

    <meta property="og:url" content="https://vr.delltechnologies.com/"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@DellTech"/>
    <meta name="twitter:title" content="Dell Technologies Virtual Reality">
    <meta name="twitter:description" content="Experience transformational stories in Virtual Reality. Every day, people and technology are coming together to transform their organizations. Watch these VR stories to experience it for yourself.">
    <meta name="twitter:image" content="http://vr.delltechnologies.com/images/twitterLarge500.jpg">

    <!-- THIS WILL NEEDD TO BE SET UP -->
    <meta property="fb:app_id" content="333897680304482"/>


    <link rel="canonical" href="https://vr.delltechnologies.com/"/>
    <link rel="alternate" href="https://vr.delltechnologies.com/" hreflang="en-us"/>

    <link rel="manifest" href="/images/favicon/manifest.json"/>
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5"/>
    <link rel="shortcut icon" href="/images/favicon/favicon-192x192.png"/>
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png" sizes="180x180"/>
    <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16"/>

<% include ./end_of_header.ejs %>
