@import 'Config/styles/colors';
@import 'Config/styles/easings';
@import 'Config/styles/config';

.learnWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  background: url('/images/learnBackground.jpg') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  transition: all .2s ease-in-out;
  min-width: $min-width;

  .link{
    display: flex;
    cursor: pointer;

    .icon{
      display: flex;
      width: 47px;
      height: 47px;
      font-weight: 300;
      font-size: 40px;
      background: #007db8;
      color: $white;
      justify-content: center;
      margin-right: 20px;
      transition: all .2s ease-in-out;

      &:hover{
        background-color: #016898;
      }
    }

    .cta{
      display: inline-block;
      font-weight: 300;
      font-size: 16px;
      color: $dark-grey;
      align-self: center;
    }
  }
}
