@import 'Config/styles/colors';
@import 'Config/styles/easings';
@import 'Config/styles/config';

.learnWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
  background: url('/images/learnBackground.jpg') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  transition: all .2s ease-in-out;
  cursor: pointer;
  min-width: $min-width;

  &:hover{
    opacity: .6;
  }

  .link{
    display: flex;
    .icon{
      display: flex;
      width: 66px;
      height: 66px;
      font-weight: 300;
      font-size: 70px;
      background: #007db8;
      color: $white;
      justify-content: center;
      line-height: 50px;
      margin-right: 20px;
    }
    .cta{
      display: inline-block;
      font-weight: 100;
      font-size: 42px;
      color: $dark-grey;
      align-self: center;
    }
  }
}
