@import 'Config/styles/colors';
@import 'Config/styles/easings';
@import 'Config/styles/config';

.learnWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 0;
  background: url('/images/learnBackground.jpg') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  transition: all .2s ease-in-out;
  min-width: $min-width;

  .link{
    display: flex;
    cursor: pointer;

    .cta{
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 16px;
      color: $dark-grey;
      align-self: center;

      &::before{
        content: '';
        position: relative;
        left: 0;
        top: 0;
        background: url(/images/icon-arrow.png) no-repeat 50% 50%/12px #007db8;
        display: block;
        width: 47px;
        height: 47px;
        transition: .2s ease all;
        margin-right: 16px;
      }

      &:hover::before{
        background-color: #016898;
      }



    }
  }
}
