@import 'Config/styles/colors';
@import 'Config/styles/easings';

.navBar{
  background: $dark-grey;
  color: $white;
  padding: 0 0 0 16px;
  font-size: 22px;

  .mobile{
    visibility: hidden;
  }

  .desktop{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contentLeft{
      display: flex;
      img {
        transition:
          width 200ms $ease-out-expo;
      }
    }

    .contentRight{
      display: flex;
    }

    ul {
      display: flex;
      align-items: center;
      flex-grow: 1;

      > li {
        margin-right: 22px;
        display: flex;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 700px){
    .mobile{
      visibility: visible;
    }
    .desktop{
      visibility: hidden;

    }
  }

}
