@import 'Config/styles/colors';
@import 'Config/styles/easings';

.section{
  background: $darker-grey;
  height: 472px;
  color: $white;
  display: flex;
  width: 100%;


  $mobile-width: 700px;

  @media (max-width: $mobile-width){
    .desktop{
      display: none;
    }
  }

  @media (min-width: $mobile-width){
    .mobile{
      display: none;
    }
  }



}
