<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="main">
  <div class="content">
    Sorry, you are not authorized to view that page.
  </div>
</div>
</body>
</html>
