<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="main">
  <div class="content">
    <img src="images/placeholder.png"/>
  </div>
</div>
</body>
</html>
